<link rel="stylesheet" href="{{ 'helloCurrency.css' | asset_url }}">
<script src="{{ 'helloCurrency.js' | asset_url }}" async></script>

<button id="custom-button" style="background-color: {{ block.settings.Currency_selector_Button_bg_color }};color:{{ block.settings.Currency_selector_Button_text_color }}">{{ shop.metafields.custom.selected_currencies }}</button>
<input
  type="hidden"
  id="currency_convertorid"
  name="currency_convertor"
  value="{{ shop.metafields.currency-selector.selected-currencies }}"
>
<span class="curriency_metafiled_span">{{ shop.metafields.currency-selector.selected-currencies }}</span>
{% comment %} <span class="check_amount">{{ amount_with_comma_separator }}</span> {% endcomment %}
<div id="currency-list" style="display: none; max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 5px;background-color: {{ block.settings.Currency_selector_bg_color }};">
    <ul style="color:{{ block.settings.Currency_selector_text_color }}" id="currency_content_list"></ul>
</div>
{% schema %}
    {
      "name": "Currency Converter",
      "target": "body",
      "class": "floating_popup",
    
      "settings": [
        {
      "type": "color",
      "id": "Currency_selector_Button_bg_color",
      "label": "Currency Selector Button Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "Currency_selector_Button_text_color",
      "label": "Currency Selector Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "Currency_selector_bg_color",
      "label": "Currency Selector Dropdown Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "Currency_selector_text_color",
      "label": "Currency Selector Dropdown Text Color",
      "default": "#000000"
    }
      ]
    }
    {% endschema %}
    